Source: ros-jazzy-base
Section: metapackages
Priority: optional
Maintainer: erikpb <airless.detours-8a@icloud.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: ros-jazzy-base
Architecture: arm64
Depends: ${misc:Depends}, ${ros-jazzy-all:Depends}
Description: Meta-package that depends on all locally built ROS 2 base Jazzy packages
 This package contains no files. Installing it pulls in the full set of
 ros-jazzy-* base packages from the repository.
